<div class="blog-post">
  <%= page_entries_info @stories %>
  <%= paginate @stories, window: 2 %>
  <% @stories.each do |story| %>
      <h2 class="blog-post-title"><%= link_to story.title.titleize, story %></h2>
      <p class="blog-post-meta">by <%= story.user.username.capitalize %>  - <%= story.created_at.strftime("%a %m-%d-%Y") %> - <span class="badge"><%= story.comments_count %> comments</span></p>
      <p class="blog-post-content"><%= truncate(story.content, length: 250) %> <%= link_to "Read More", story_path(story) %></p>
            
          <% if current_user && current_user.id == story.user.id %>
              <%= link_to edit_story_path(story), :class => "btn btn-default btn-xs" do %>
                  <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
              <%= link_to story, :class => "btn btn-danger btn-xs", method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-trash"></span>
              <% end %>
      <% end %>
      <% end %>
      <br>
</div>
