<p id="notice"><%= notice %></p>
<% content_for :head do %>
  <%= javascript_include_tag "story_index" %>
<% end %>

    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">Stories</h1>
      </div>
    </div>
   
    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">
          <ul class="nav nav-pills">
            <li role="presentation"><%= link_to "Sort by most recent", stories_path %></li>
            <li role="presentation"><%= link_to "Sort by most comments", most_comments_path, :class => "most_comments" %></li>
          </ul>

        <div class="blog-post">
            <%= page_entries_info @stories %>
            <%= paginate @stories, window: 2 %>
            <div class="stories"> 
            </div>
        </div> <!-- /.blog-post -->
  
        </div> <!-- /.col-sm-8 blog-main -->



      <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module">
             <%= link_to 'New Story', new_story_path, :class => "btn btn-info btn-md" %>
          </div>
          <div class="sidebar-module">
            <h4>Tags</h4>
            <ol class="list-unstyled">
            <% @tags.each do |tag| %>
              <li><%= link_to tag.name,tag %></li>
            <% end %>
            </ol>
          </div>
      </div><!-- /.blog-sidebar -->


     </div><!-- /.row -->
        
    </div><!-- /.container -->