<p id="notice"><%= notice %></p>
<% content_for :js do %>
  <%= javascript_include_tag 'story_show' %>
  <%= javascript_include_tag 'comments' %> 
<% end %>

 <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            
            <h2 class="blog-post-title"><%= @story.title.capitalize %></h2>
            <p class="blog-post-meta">by <%= @story.user.username.capitalize %>  - <%= @story.created_at.strftime("%a %m-%d-%Y") %></p>
            <p class="blog-post-content"><%= @story.content %></p>
            <br>

              <%= link_to 'Back', stories_path, :class => "btn btn-default btn-sm" %> |
              <% if current_user && current_user.id == @story.user.id %>
                <%= link_to edit_story_path(@story), :class => "btn btn-info btn-sm" do %>
                  <span class="glyphicon glyphicon-pencil"></span>
                <% end %> |
                <%= link_to @story, :class => "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              <% end %>
            <br><br>


          </div><!-- /.blog-post -->
         

        </div><!-- /.blog-main -->

      <div class="col-sm-3 offset-sm-1 blog-sidebar">
        
          <div class="sidebar-module">
            <h4>Tags</h4>
            <ol class="list-unstyled">
            <% @tags.each do |tag| %>
              <li><%= link_to tag.name,tag %></li>
            <% end %>
            </ol>
          </div>
      </div><!-- /.blog-sidebar -->

     </div><!-- /.row -->
        
    </div> <!-- /.container -->

    <div class="container">
  <div class="col-sm-8">
       <div class="well well-white" id="comments-section">
          <%= render partial: 'comments/comment' %>
      </div>

      <div id="commentForm">
          <%= render partial: 'comments/comment_form' %>
      </div>
  </div>
</div>