<!DOCTYPE html>
<html>
  <head>
    <title>CollegeTodoRails</title>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
     <%= render 'layouts/navigation' %>
    <%= yield %>

    <hr>
    <footer class="footer">
      <small>&copy; 2017 Developed by Callie Miller | <a href="https://github.com/cmiller36/college-todo-rails">GitHub <i class="fa fa-github"></i></a></small>
    </footer>
  </body>
</html>
